/2. 컴퓨터의 외부 및 내부 IP 확인/main2-2.py
.vscode
4. QR코드 생성기/*.png
10. 오토마우스를 활용한 웹페이지 자동화/*.png
/12. 엑셀의 정보를 불러와 수료증 자동생성/이서준.docx
/12. 엑셀의 정보를 불러와 수료증 자동생성/이서준.pdf
/12. 엑셀의 정보를 불러와 수료증 자동생성/장다인.docx
/12. 엑셀의 정보를 불러와 수료증 자동생성/장다인.pdf
/12. 엑셀의 정보를 불러와 수료증 자동생성/홍길동.docx
/12. 엑셀의 정보를 불러와 수료증 자동생성/홍길동.pdf
/12. 엑셀의 정보를 불러와 수료증 자동생성/김철수.pdf
/12. 엑셀의 정보를 불러와 수료증 자동생성/김민준.docx
/12. 엑셀의 정보를 불러와 수료증 자동생성/김철수.docx
/12. 엑셀의 정보를 불러와 수료증 자동생성/김영희.pdf
/12. 엑셀의 정보를 불러와 수료증 자동생성/김영희.docx
/12. 엑셀의 정보를 불러와 수료증 자동생성/김민준.pdf
